
@{ 
    ViewBag.Title = "Cadastro de Marca de Produto";
}

<div id="cadastro">
    <section id="cadastro_cabecalho" class="cabecalho-pricipal">
        <h1>@ViewBag.Title</h1>
    </section>

    <section id="cadastro_conteudo">

    </section>
</div>




