
@{ 
    ViewBag.Title = "Cadastro de Local de Produto";
}

<div id="cadastro">
    <section id="cadastro_cabecalho">
        <h1>@ViewBag.Title</h1>
    </section>

    <section id="cadastro_conteudo">

    </section>
</div>


