
@{ 
    ViewBag.Title = "Cadastro de Produto";
}

<div id="Cadastro de Produto">
    <section id="cadastro_cabecalho">
        <h1>@ViewBag.Title</h1>
    </section>

    <section id="cadastro_conteudo">

    </section>
</div>


