
@{ 
    ViewBag.Title = "Perdas no Mês";
}

<div id="grafico">
    <section id="grafico_cabecalho" class="cabecalho-pricipal">
        <h1>@ViewBag.Title</h1>
    </section>

    <section id="grafico_conteudo">

    </section>
</div>

