
@{ 
    ViewBag.Title = "Controle de Estoque";
}

<div id="index">
    <section id="index_cabecalho" class="cabecalho-pricipal">
        <h1>@ViewBag.Title</h1>
    </section>

    <section id="index_conteudo">

    </section>
</div>