@{
    ViewBag.Title = "Controle de Estoque";
}

<div id="sobre">
    <section id="sobre_cabecalho" class="cabecalho-pricipal">
        <h1>>@ViewBag.Title</h1>
    </section>

    <section id="sobre_conteudo">

    </section>
</div>

