body {
    padding-top: 60px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.body-imgfundo {
    /*background-image: url('../Imagens/GESTAO-DE-ESTOQUES.png');*/
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.container-login {
    width: 400px;
    margin: 0 auto;
}

.titulo {
    margin-bottom: 30px;
    text-transform: uppercase;
}

.invisivel {
    display: none;
}

.cabecalho-pricipal {
    border-bottom: 1px #dddddd solid;
}

.cabecalho_grid {
    margin-bottom: 20px;
}

.cadastro-principal {
    width: 70%;
    margin: 0 auto;
}

.cadastro-conteudo {
    margin-top: 20px;
}

.grid_cadastro-grupoprod > thead > tr th:nth-child(3) {
    width: 200px;
}

.grid_cadastro-grupoprod2 > thead > tr th:nth-child(2) {
    width: 110px;
}
