
@{ 
    ViewBag.Title = "Posição de Estoque";
}

<div id="relatorio">
    <section id="relatorio_cabecalho">
        <h1>@ViewBag.Title</h1>
    </section>

    <section id="relatorio_conteudo">

    </section>
</div>

