
@{ 
    ViewBag.Title = "Ressuprimento - Abastecimento Automatico";
}

<div id="relatorio">
    <section id="relatorio_cabecalho">
        <h1>@ViewBag.Title</h1>
    </section>

    <section id="cabecalho_conteudo">

    </section>
</div>

