
@{ 
    ViewBag.Title = "Lançamento de Perda de Produtos";
}

<div id="operacao">
    <section id="operacao_cabecalho" class="cabecalho-pricipal">
        <h1>@ViewBag.Title</h1>
    </section>

    <section id="operacao_conteudo">

    </section>
</div>


